<div class="modal" ng-controller="LaunchCtrl">
    <ion-content>
        <div class="padding">
            <div class="list" style="margin-top: 40%">
                <a class="button button-full ion-speakerphone button-large button-calm rounded" href="#/social"> Social</a>
                <a class="button button-full ion-settings button-large button-calm rounded" href="#/productivity"> Productivity</a>
                <a class="button button-full ion-heart button-large button-calm rounded" href="#/myneer"> My Neer</a>
                <a class="button button-full ion-home button-large button-calm rounded" ng-click="backToMenu()"> Back To Menu</a>                
            </div>
        </div>
    </ion-content>
</div>